

body{
background-image: linear-gradient(rgba(0,0,0,0.5) 5% 10%) ,url(../imgs/wallpaperflare.com_wallpaper.jpg);

background-position:center center;
background-size: cover;
}

.head h2{

background-color: rgba(89, 111, 183 , 0.3);
    color: antiquewhite;
border-radius: 10px;
font-family:'Courier New', Courier, monospace;
font-size: 30px;

}


.titll h5{
  
font-size: 30px;
background-color: rgba(89, 111, 183 , 0.6);
border-radius: 10px;
color: bisque;
}

.siteName{
    color: antiquewhite;
}
.icone{
    color: aliceblue;
}